@using MusicTools.Domain.Utils
@model MusicTools.Web.ViewModels.Chord.ChordSelectorViewModel

<div class="chord-view">


    <select class="key-menu">
        @foreach (var key in Model.Keys)
        {
            <option class="key-selector" value="@((int) key)" data-key="@((int) key)">@key</option>
        }
    </select>

    <select class="alteration-menu">
        @foreach (var alteration in Model.Alterations.OrderBy(a => (int)a))
        {
            <option class="alteration-selector" value="@((int) alteration)" data-alteration="@((int) alteration)">@alteration.GetSymbol()</option>
        }
    </select>

    <ul class="chord-quality-menu">
        @foreach (var chordQuality in Model.ChordQualities)
        {
            <li class="chordQuality-selector" data-chordQuality="@chordQuality.Name">@chordQuality.Name</li>
        }
    </ul>
</div>

@section Scripts
    {
    <script>
        $(function () {

            $('#key-menu').dropdown({
                gutter: 5,
                stack: false,
                slidingIn: 100
            });
            //$('#alteration-menu').dropdown({
            //    gutter: 5,
            //    stack: false,
            //    slidingIn: 100
            //});

        });
    </script>
}
